body {
    background-image: url('./wp13234750-smile-emoji-desktop-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}